* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f1f2fd;
}

p {
  padding: 0 !important;
  margin: 0 !important;
}

.closeElement {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#tutorial-background {
  display: none; /*make this block later*/
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  overflow-y: scroll;
  transition: all 0.15s;
}

#tutorial-background::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

#tutorial-background::-webkit-scrollbar {
  width: 10px; /* Vertical scrollbar width */
  height: 10px; /* Horizontal scrollbar height */
}

#tutorial-background::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Color of the thumb */
  border-radius: 10px;
  border: 2px solid transparent; /* Padding around thumb */
  background-clip: content-box;
}

#tutorial-close {
  color: #f82a1b;
  position: absolute;
  top: 3%;
  right: 3%;
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}

#main-container {
  margin-top: 6rem;
}

.choice-container label {
  background-color: #198754;
  padding: 10px 15px;
  border-radius: 3px;
  display: flex;
  gap: 7px;
  color: rgb(255, 255, 235);
  cursor: pointer;
}

.navigation-container {
  background-color: rgb(216, 222, 233);
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
}

#high-score {
  position: absolute;
  top: 0;
  right: 0;
  
}

#modal-background {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2); 
  display: none;

}

#submission-status {
  background-color: rgb(95, 93, 93);
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
}

#timer-container {
  position: fixed;
  top: 4%;
  left: 4%;
  width: 60px;
  height: 60px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 100%;
  border: 2px solid rgba(0,0,0, 0.9);
  background-color: #f1f2fd;
}

#score-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}

#score-modal section {
  background-color: rgb(255, 250, 250);
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}